@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e3e9f7;
  display: flex;
}


.main {
  position: absolute;
  top: 60px;
  width: calc(100% - 260px);
  left: 260px;
  min-height: calc(100vh - 60px);
  background: #f5f5f5;

}

.cards {
  width: 100%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.cards .card {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.number {
  font-size: 35px;
  font-weight: 500;
  color: #f97316;
}

.card-name {
  color: #888;
  font-weight: 600;
}

.icon-box {
  font-size: 45px;
  color: #f97316;
}

.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  margin-top: 30px;
}

.chart {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.chart h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #666;
  text-align: center;
}


