@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e3e9f7;
  display: flex;
  min-height: 100vh;
}

main {
  width: 100%;
  margin: 32px;
}

.cards {
  width: 100%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.cards .card {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.cards .card:hover {
  background-color: #f97316;
}

.cards .card:hover .number {
  color: #fff;
}

.cards .card:hover .card-name {
  color: #fff;
}

.cards .card:hover .icon-box {
  color: #fff;
}

.number {
  font-size: 35px;
  font-weight: 500;
  color: #f97316;
}

.card-name {
  color: #888;
  font-weight: 600;
}

.icon-box {
  font-size: 45px;
  color: #f97316;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  margin-top: 30px;
}

.chart {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  flex-grow: 1;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.chart h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #666;
  text-align: center;
}

.chart-container {
  width: 60vw;
  max-width: 400px;
  height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unauthorized {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1115px) {
  .main {
    left: 60px;
    width: calc(100% - 150px);
  }
}

@media (max-width: 880px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 8px;
  }

  main {
    margin: 8px;
    padding: 4px;
  }

  .charts {
    padding: 0;
    gap: 8px;
  }
}

@media (max-width: 550px) {
  .cards {
    grid-template-columns: 1fr;
  }

  body #sidebar.open-sidebar {
    position: fixed;
    height: 100%;
    box-shadow: 0 0 64px #0000004d;
    left: 0;
    top: 0;
    min-width: 60px;
  }
}
